# Copy to db/deploy-rds/.env.prod and db/deploy-rds/.env.dev then fill in values

RDS_HOST=*.*.us-east-1.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=dokumen
RDS_ADMIN_DB=postgres
RDS_ADMIN_USER=postgres
PGPASSWORD=*
PGSSLMODE=require

OWNER_ROLE_PASSWORD=*
AUTH_ROLE_PASSWORD=*
WEB_USER_PASSWORD=*
API_USER_PASSWORD=*
WORKERS_USER_PASSWORD=*
