# existing resources
VPC_ID=vpc-*
PRIVATE_SUBNET_ID=subnet-*
PRIVATE_SUBNET_2_ID=subnet-*
SG_ID=sg-*
DEV_VPC_ID=vpc-*
DEV_SUBNET_1_ID=subnet-*
DEV_SUBNET_2_ID=subnet-*

# RDS config
AWS_REGION=us-east-1
PROD_RDS_IDENTIFIER=dokuprod
PROD_RDS_SUBNET_GROUP_NAME=dokumen-prod-rds-subnets
PROD_RDS_SG_NAME=dokumen-prod-rds-sg
PROD_RDS_MULTI_AZ=1
DEV_RDS_IDENTIFIER=dokudev
DEV_RDS_SUBNET_GROUP_NAME=dokumen-dev-rds-subnets
DEV_RDS_SG_NAME=dokumen-dev-rds-sg
RDS_ENGINE=postgres
RDS_ENGINE_VERSION=18
RDS_INSTANCE_CLASS=db.t4g.micro
RDS_ALLOCATED_STORAGE=20
RDS_STORAGE_TYPE=gp3
RDS_DB_NAME=dokumen
RDS_MASTER_USERNAME=postgres
RDS_BACKUP_RETENTION_DAYS=7
RDS_DELETION_PROTECTION=1
RDS_PORT=5432

# AWS tags
PROJECT_NAME=dokumen

# network access
ADMIN_CIDR=*.*.*.*/32

# passwords
PROD_RDS_MASTER_PASSWORD=*
DEV_RDS_MASTER_PASSWORD=*
AUTH_ROLE_PASSWORD=*
WEB_USER_PASSWORD=*
API_USER_PASSWORD=*
WORKERS_USER_PASSWORD=*

# paths
SECRET_DRAFT_DIR=infra/deploy-aws/local-secrets
OUTPUT_DIR=infra/deploy-aws/outputs
