# target
AWS_REGION=us-east-1
ELASTIC_IP=*
REMOTE_APP_DIR=/opt/dokumen/pdf-ner
PROD_ENV_FILE=infra/.env.prod

# SSH
SSH_PRIVATE_KEY_PATH=~/.ssh/dokumen-ec2
SSH_CONNECT_TIMEOUT=10
SSH_SERVER_ALIVE_INTERVAL=30
SSH_SERVER_ALIVE_COUNT_MAX=4
SSH_WAIT_ATTEMPTS=5
SSH_WAIT_SECONDS=30

# AWS tags
PROJECT_NAME=dokumen
ENVIRONMENT=production
DOMAIN=dokumenai.dev

# deploy options
CLEAR_DOCKER_BUILD_CACHE=0

# logging
OUTPUT_DIR=infra/deploy-aws/outputs
