# Server-side env vars
NODE_ENV=production

BASE_URL=https://dokumenai.dev

# probably want to move from localhost to cloud host
DATABASE_URL=postgres://localhost/dokumen?sslmode=required
# need to replace ... with actual passwords here and in db\migrations\0000010_auth_app_schemas.sql
APP_DATABASE_URL=postgres://app_user:...@localhost/dokumen?sslmode=required
AUTH_DATABASE_URL=postgres://auth_role:...@localhost/dokumen?sslmode=required

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://dokumenai.dev

# Client-side env vars
VITE_BASE_URL=https://dokumenai.dev