# existing resources
SUBNET_ID=subnet-0d748b1e7bf1186b8
SG_ID=sg-0daac47ed7018ad00
AMI_ID=ami-02b2c1b57c5105166
AVATARS_S3_BUCKET_NAME=web-avatars

# EC2 config
AWS_REGION=us-east-1
INSTANCE_TYPE=t3.large
EC2_ROOT_VOLUME_SIZE=40
INSTANCE_NAME=dokumen-ec2
EIP_NAME=dokumen-eip
DOMAIN=dokumenai.dev

# AWS tags
PROJECT_NAME=dokumen
ENVIRONMENT=production

# network access
ADMIN_CIDR=*.*.*.*/32

# SSH key to put on the EC2
KEY_NAME=dokumen-ec2
SSH_PUBKEY_PATH=~/.ssh/dokumen-ec2.pub

# ECR creation config
WEB_ECR_REPOSITORY=dokumen-web
API_ECR_REPOSITORY=dokumen-api
WORKERS_ECR_REPOSITORY=dokumen-workers
ECR_UNTAGGED_IMAGE_RETENTION_DAYS=7

# paths
OUTPUT_DIR=infra/aws/outputs
