# target
AWS_REGION=us-east-1
ELASTIC_IP=*
REMOTE_APP_DIR=/opt/dokumen/pdf-ner

# repo checkout
REPO_URL=https://github.com/dokumenai/pdf-ner.git
DEPLOY_BRANCH=master
GITHUB_DEPLOY_KEY_PATH=

# AWS tags
PROJECT_NAME=dokumen
DOMAIN=dokumenai.dev

# logging
OUTPUT_DIR=infra/deploy-aws/outputs
