# AWS config
AWS_REGION=us-east-1

# CIDR blocks
VPC_CIDR=10.40.0.0/16
PUBLIC_SUBNET_CIDR=10.40.1.0/24
PUBLIC_SUBNET_2_CIDR=10.40.2.0/24
PRIVATE_SUBNET_CIDR=10.40.101.0/24
PRIVATE_SUBNET_2_CIDR=10.40.102.0/24

# AWS tags
PROJECT_NAME=dokumen
ENVIRONMENT=production
DOMAIN=dokumenai.dev

# # optionally set the names of the output resources
# VPC_NAME=
# SUBNET_NAME=
# SUBNET_2_NAME=
# PRIVATE_SUBNET_NAME="
# PRIVATE_SUBNET_2_NAME=
# IGW_NAME=
# ROUTE_TABLE_NAME=
# NAT_EIP_NAME=
# NAT_2_EIP_NAME=
# NAT_GATEWAY_NAME=
# NAT_GATEWAY_2_NAME=
# PRIVATE_ROUTE_TABLE_NAME=
# PRIVATE_ROUTE_TABLE_2_NAME=
# VPC_FLOW_LOG_ROLE_NAME=
# VPC_FLOW_LOG_POLICY_NAME=
# VPC_FLOW_LOG_GROUP_NAME=
# VPC_FLOW_LOG_NAME=
# VPC_FLOW_LOG_RETENTION_DAYS=
# SG_NAME=

# network access
ADMIN_CIDR=*.*.*.*/32

# logging
OUTPUT_DIR=infra/deploy-aws/outputs
