# need to replace ... with actual password here and in db\migrations\init.sql
API_DATABASE_URL=postgres://api_user:...@localhost:5432/dokumen?sslmode=disable

REDIS_URL=redis://localhost:6379/0

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_AI_API_KEY=