DATABASE_URL=postgres://localhost:5432/dokumen?sslmode=disable
# need to replace ... with actual password here and in db\migrations\0000010_auth_app_schemas.sql
API_DATABASE_URL=postgres://api_user:...@localhost:5432/dokumen?sslmode=disable