.gitignore
.vscode/

**/*.pyc
**/*.sh
**/*.sql
*.log
.DS_Store

scripts/
tanstack-start-docs/
tests/

**/*.test.ts
**/*.test.tsx

node_modules/
.tanstack/
.output/
.vite/
dist/
dist-ssr/

.env
.env.*
**/.env
**/.env.*

.prettierignore
.prettierrc
bunfig.toml
components.json
eslint.config.mjs
README.AGENTS.md
README.md

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
