# dependencies
node_modules/
node_modules_bak/

# tanstack start
dist
dist-ssr

# build artifacts
public/sitemap.xml
count.txt
*.local
.nitro
.tanstack
.output

# misc
.DS_Store
*.pem
.npm-only-allow

# local env files
.env
*.local

# local outputs
storybook-static/
coverage/
test-results/
playwright-report/
playwright/.cache/

# typescript
*.tsbuildinfo

# coding LLM config should be in root dir
.kilocode/
.cursor/
.claude/
CLAUDE.md