# dependencies
node_modules/

# tanstack start
dist
dist-ssr
count.txt
*.local
.nitro
.tanstack
.output

# misc
.DS_Store
*.pem
.npm-only-allow

# local env files
.env
*.local

# local outputs
storybook-static/
coverage/
test-results/
playwright-report/
playwright/.cache/

# typescript
*.tsbuildinfo

# coding LLMs
.kilocode/
.cursor/
.claude/
CLAUDE.md
prompts.txt