{
  "branches": ["master"],
  "plugins":
    [
      "@semantic-release/changelog",
      ["@semantic-release/commit-analyzer", { "preset": "angular"}],
      "@semantic-release/git",
      "@semantic-release/github",
      ["@semantic-release/release-notes-generator", { "preset": "angular"}]
    ]
}
